<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="AcceptanceTestStatsDb" connectionString="Server=AUSYDSQL96;Database=Acceptance;User Id=TeamCityUser;Password=TeamCityPass;" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <!--Must add a reference back to Core for SpecFlow to pick up the bindings-->
    <stepAssemblies>
      <stepAssembly assembly="Core" />
    </stepAssemblies>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  </specFlow>
  <appSettings>
    <!--Begin Transform settings-->
    <!--No trailing slash-->
    <add key="WebsiteRoot" value="http://rttmstest.service-now.com" />
    <add key="Browser" value="chrome" />
    <add key="EnvTag" value="dev" />
    <add key="ChromeExe" value="C:\Users\daniel.kereama\AppData\Local\Google\Chrome\Application\chrome.exe" />
    <!--End transform settings-->
    <add key="PreserveVideoLogs" value="true" />
    <add key="ShortWait" value="15" />
    <add key="ImplicitWait" value="30" />
    <add key="LongWait" value="60" />
    <add key="AcceptanceTestStatsLoggingEnabled" value="Y" />
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="UseWebDriverVideoCapture" value="Y" />
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>