<?xml version="1.0"?>

<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="Browser" value="ie" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="WebsiteRoot" value="http://riotintodev.service-now.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="EnvTag" value="patch" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ChromeExe" value="C:\\Program Files (x86)\\Google\\Chrome\\Application\\chrome.exe"
         xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>
</configuration>